.CFUserTextEncoding
.psql_history-davidlachasse
.rnd
.DS_Store
.rvm
.RailsSublimeBackup
.ssh
.Trash
.subversion
.bash_history
.vagrant.d
.vegas
.cache
.viminfo
.chef
.config/coc/
.config/configstore/
.config/dask/
.config/direnv/
.config/nvim/.netrwhist
.vnc
.dropbox
.zprofile
.exercism.go
.gem
Applications
Desktop
.git
Dev
.gitconfig
Documents
.gitignore.swp
Downloads
.guard_history
Dropbox
.heroku
Library
.irb-history
Movies
.local
Music
.mysql_history
Pictures
.neocomplcache
Public
.netrc
VirtualBox VMs
.npm
bin
.pow
chef-repo
.psql_history
etc
.env

.RSA/
.anyconnect
.asdf/
.aws/
.bash_sessions/
.cisco/
.cups/
.dbt/
.docker/
.dotfiles/
.eclipse/
.flow-typed/
.fzf.bash
.fzf.zsh
.fzf/
.gnupg/
.ipython/
.jupyter/
.k9s/
.kite/
.kube/
.lesshst
.minikube/
.node_repl_history
.openvpn-connect.json
.oracle_jre_usage/
.profile
.psql_history-schema_service_dev
.pylint.d/
.pypirc
.python_history
.python_history-14718.tmp
.rediscli_history
.rustup/
.sdm/
.terraform.d/
.tig_history
.tmp-wework-printers/
.tool-versions
.vim-undo/
.vim/.netrwhist
.vim/_tmp/
.vim/plugged/
.vscode/
.wdm/
.~bash_profile
.~vimrc
IdeaProjects/
airflow/
artifacts.xml
git-completion.bash
lib/
tmux-client-41279.log
~.tmux.conf
.tmux/
secrets.sh
Exercism/*
.config/exercism/
.config/iterm2/
.pdfbox.cache
.scala_history_jline3
.scalac/
Creative\ Cloud\ Files/
.zsh*
.babel.json
.config/gh/hosts.yml
.config/gcloud/**/*
