.CFUserTextEncoding
.psql_history-davidlachasse
.rnd
.DS_Store
.rvm
.RailsSublimeBackup
.ssh
.Trash
.subversion
.bash_history
.vagrant.d
.bash_profile
.vegas
.vim
.cache
.viminfo
.chef
.config
.vnc
.dropbox
.zprofile
.exercism.go
.gem
Applications
Desktop
.git
Dev
.gitconfig
Documents
.gitignore.swp
Downloads
.guard_history
Dropbox
.heroku
Library
.irb-history
Movies
.local
Music
.mysql_history
Pictures
.neocomplcache
Public
.netrc
VirtualBox VMs
.npm
bin
.pow
chef-repo
.psql_history
etc
